@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
    --font-family: 'Signika Negative', sans-serif;
    --bg-color:#2E0249;
    --primary-color: #F806CC;
    --border-color: #A91079
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family)
}

h1 {
    font-size: 4em;
}

h2{
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    border: 5px solid var(--border-color);
    box-shadow: 10px 10px black;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

